*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
.container{
    min-width: 98vw;
    min-height: 100vh;
    /*max-width: 100vw;*/
}
.container .content {
    width: 100%;
    margin: 0;
}
/*.container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.container .navbar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .navbar .logo img{
    width: 50px;
}
.container .navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    font-size: 18px;
}
.container .navbar ul li{
    cursor: pointer;
}
.container .navbar ul li a{
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}*/