<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeFarm</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:3000/public/home.css">
    <link rel="stylesheet" href="http://localhost:3000/public/navbar.css">
</head>

<body>
    <div class="container">
        <%- include('./includes/navbar.ejs') %>
            <div class="content">
                <div id="part1">
                    <div class="welcome">
                        <div class="message">
                            Fr🍊m Farm to Table,
                        </div>
                            <!-- <img src="/public/assests/bg7-removebg-preview.png" alt="Fruits"> -->
                        <div class="message">
                            Nature's Finest H🍎rvest
                        </div>
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus dolor blanditiis amet nostrum a praesentium quia cum qui ut adipisci, maxime, quod eos, sequi doloribus ab error earum cupiditate.
                            Eum laboriosam quae rem aspernatur quis consectetur labore porro officiis eaque. Veritatis amet earum non dolorum quibusdam fuga, nesciunt error, labore ad quisquam debitis accusamus reprehenderit facilis! Impedit, porro officiis!
                            Perferendis repellendus nostrum autem, rerum eaque ad illo aperiam et obcaecati temporibus delectus tenetur, facere maxime sint sequi facilis animi numquam magnam. Ex velit magnam asperiores doloribus. Vero, neque illum.
                            Magni ullam error enim earum exercitationem quisquam accusamus dicta! Aliquam ab amet repellendus nihil officia omnis cupiditate a dolores aperiam, qui, unde quia temporibus sequi veritatis, maxime optio quod error.
                        </div>
                        <div class="button">
                            <a href="/catalog">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M21.822,7.431C21.635,7.161,21.328,7,21,7H7.333L6.179,4.23C5.867,3.482,5.143,3,4.333,3H2v2h2.333l4.744,11.385 C9.232,16.757,9.596,17,10,17h8c0.417,0,0.79-0.259,0.937-0.648l3-8C22.052,8.044,22.009,7.7,21.822,7.431z M17.307,15h-6.64 l-2.5-6h11.39L17.307,15z"></path><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle></svg>
                                Shop Now</a>
                        </div>
                    </div>
                </div>
                <div id="part2">
                    <div class="best">
                        <div class="img">
                            <img src="/public/assests/bgmain.png" alt="Fruits">
                        </div>
                        <div class="text">
                            <div class="p1">🍒</div>
                            <div class="p2">A Farming Legacy, Rooted in Nature</div>
                            <div class="p3">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda animi aspernatur ex modi repudiandae ab? Maiores nulla porro dolor pariatur officiis repellendus ipsa molestiae unde, praesentium sit earum esse?
                            </div>
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="part3"></div>
                <div id="part4"></div>
            </div>
    </div>
</body>

</html>