.content .header{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .header .profile{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.content .header .profile .picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .header .profile .picture img{
    width: 40px;
    border-radius: 50%;
}
.content .header .profile .username{
    /* font-size: 20px;
    font-weight: 500; */
}
.content .header a{
    padding: 7px 20px;
    background-color: rgb(81,104,249);
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.content .body{
    display: flex;
}
.content .body .part1{
    background-color: rgb(239,239,255);
    width: 30%;
    padding: 30px 40px;
    border-radius: 15px;
}
.content .body .part1 ul{
    list-style-type: none;
}
.content .body .part1 ul li{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 20px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.content .body .part1 ul li:hover{
    background-color: rgb(222, 227, 255);
}
.content .body .part1 ul li svg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(81,104,249);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}
.content .body .part2{
    width: 70%;
}