<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="main_layout.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="bubble1"></div>
        <div class="bubble2"></div>
        <div class="bubble3"></div>
        <div class="content">
            <div class="header">
                <div class="profile">
                    <div class="picture"><img src="profile.jpeg"></div>
                    <div class="username">harkhanishan</div>
                </div>
                <div class="title">To - Do</div>
                <!-- <img src="icons8-setting-64.png"> -->
                <a href="#">Log out</a>
            </div>
            <div class="body">
                <div class="part1">
                    <ul>
                        <li>
                            <div class="svg"><svg stroke="#fff" fill="#fff" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M19 11L13 11 13 5 11 5 11 11 5 11 5 13 11 13 11 19 13 19 13 13 19 13z"></path></svg></div> 
                            Add Task
                        </li>
                        <li>
                            <div class="svg"><svg stroke="#fff" fill="#fff" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M2 21h19v-3H2v3zM20 8H3c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h17c.55 0 1-.45 1-1V9c0-.55-.45-1-1-1zM2 3v3h19V3H2z"></path></svg></div>
                            View Tasks</li>
                        <li>
                            <div class="svg"><svg stroke="#fff" fill="#fff" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M11 10L9 10 9 13 6 13 6 15 9 15 9 18 11 18 11 15 14 15 14 13 11 13z"></path><path d="M4,22h12c1.103,0,2-0.897,2-2V8c0-1.103-0.897-2-2-2H4C2.897,6,2,6.897,2,8v12C2,21.103,2.897,22,4,22z M4,8h12l0.002,12H4 V8z"></path><path d="M20,2H8v2h12v12h2V4C22,2.897,21.103,2,20,2z"></path></svg></div>
                            Add Category</li>
                    </ul>
                </div>
                <div class="part2"></div>
            </div>
        </div>
    </div>
</body>

</html>