*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
.container{
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(239,239,255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content{
    color: #616a80;
    width: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 10px solid #fff;
    border-radius: 15px;
    z-index: 5;
}   
.container .bubble1{
    background-color: rgb(253,153,175);
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 30px;
    left: -30px;
    border-radius: 50%;
    z-index: 1;
    animation: 3s float ease-in-out infinite;
}
.container .bubble2{
    background-color: rgb(63,212,244);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25%;
    left: 40%;
    border-radius: 50%;
    z-index: 6;
    animation: 4s float ease-in-out infinite;
}
.container .bubble3{
    background-color: rgb(250,198,8);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30%;
    right: 7%;
    border-radius: 50%;
    z-index: 1;
    animation: 2s float ease-in-out infinite;
}
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}