<div class="navbar">
    <div class="logo">
        <img src="http://localhost:3000/public/logo1.png" alt="logo">
    </div>
    <ul>
        <li><a href="/home" class="<%= path=='home'? 'active' : '' %>">Home</a></li>
        <li><a href="/catalog" class="<%= path=='catalog'? 'active' : '' %>">Catalog</a></li>
        <li><a href="/categories" class="<%= path=='categories'? 'active' : '' %>">Categories</a></li>
        <li><a href="/products" class="<%= path=='products'? 'active' : '' %>">Products</a></li>
    </ul>
</div>